a:hover,
.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}
.btn {
    padding: 10px 30px;
    font-size: 15px;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
}
.btn-submit {
    background-color: #4c586f;
    border: 1px solid #4c586f;
    color: #fff;
}
.btn-green {
    background-color: #20c977;
    border: 1px solid #20c977;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}
.btn-red {
    border: 1px solid #d84950;
    color: red;
    padding: 5px 10px;
    font-size: 15px;
}
.btn-blue {
    background-color: #4a80d6;
    border: 1px solid #4a80d6;
    color: #fff;
    padding: 10px 15px;
    font-size: 15px;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
input,
textarea {
    width: 100%;
    border: 1px solid #ebeced;
    border-radius: 5px;
}
    input {
        height: 25px;
    }
    textarea {
        height: 300px;
    }